# Python Basics
# Python fundamentals variables

# Python Coding

In [1]:
print("Hello Neotech")

Hello Neotech

# Python Variable

In [2]:
print("Rahul")

Rahul

In [6]:
var1 = "Python"
var1
a
b

sum = a+b
sum

100

# Variable Code-2

In [6]:
#add

var1=50
var2=50

var3=var1+var2
print("Sum =",var3)

#sub

var4=500
var5=50

var6=var4-var5
print("Sub =",var6)

#multi

var7=5
var8=5

var9=var7*var8
print("Multi =",var9)

#div

var10=50
var11=5

var12=var10/var11
print("Div =",var12)

Sum = 100
Sub = 450
Multi = 25
Div = 10.0

In [10]:
count = 100
km = 1000
name = "Nishang"
a,b,c = 4,5,"Neotech"

print("My name is Nishang")
print(count,km,name, sep = ',')
print(a,b,c,sep = ',')

My name is Nishang
100,1000,Nishang
4,5,Neotech

In [15]:
a=b=c=1

a
b
c

print(a,b,c)

1 1 1

# Datatypes

In [16]:
x,y,z=13,14,15

z

15

In [17]:
del z

In [18]:
z

NameError: name 'z' is not defined

In [21]:
a=67
b=99.9999
c=3.14j
d= "Navratri"
e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [22]:
#how to get input from user
#ask the user to enter the value of x and store it in variable
x = int(input("Enter the value of x: "))

#ask the user to enter the value of y and store it in variable
y = int(input("Enter the value of y: "))

#perform any mathematicle operation on user input

z=x*y

#print thr answer

z

Enter the value of x: 5
Enter the value of y: 10

50

In [31]:
# python string

str1="I like python programming, "
str1

'I like python programming, '

In [27]:
str2 = "My name is Nishang"
str2

'My name is Nishang'

In [32]:
str3 = str1+str2
str3

'I like python programming, My name is Nishang'

In [33]:
# string indexing and slicing

name = "University"
print(name)
print(len(name))

University
10

In [38]:
name[0]

'U'

In [44]:
name = "University approved by UGC"
print(name)
print(len(name))
print(name[2])
print(name[4])
print(name[1])
print(name[11])
print(name[7])
print(name[-15])
print(name[-9])
print(name[-6])
print(name[-3])
print(name[-1])

University approved by UGC
26
i
e
n
a
i
a
e
b
U
C

In [41]:
name[10]

' '