# Python String

In [1]:
a=b=c=10

print(id(a),id(b),id(c))

2329101691472 2329101691472 2329101691472

In [8]:
d=10
id(d)

2329101691472

In [9]:
d=11
id(d)

2329101691504

In [11]:
z="my name vatsal"
print(type(z))
id(z)

<class 'str'>

2329188230832

In [20]:
#string slice

print(z[1:10])
print(z[:10])
print(z[7:])

# ALWAY SLIDE FROM LEFT TO RIGHT
#first small number then large
# Example

print(z[-1:-3])

y name va
my name va
 vatsal

In [28]:
# String Formating

str1="{} {} {}".format("Vatsal","Agola","")
print(str1)

str2="{a} {b} {c}".format(b="Vatsal",a="Agola",c="")
print(str2)

str2="{1} {0} {2}".format("Vatsal","Agola","")
print(str2)

Vatsal Agola
Agola Vatsal
Agola Vatsal

# Python list

In [36]:
l=[1,'raj','jay',5,4]

print(l)
print(l[1])
print(l[-1])
print(l[0:3])

#Update List
l[2]=10
print(l)

#print Type by index
print(type(l[0]))
print(type(l[1]))

[1, 'raj', 'jay', 5, 4]
raj
4
[1, 'raj', 'jay']
[1, 'raj', 10, 5, 4]
<class 'int'>
<class 'str'>

# Tuples

In [40]:
# tuples are immutable datatype
#all  operations are same as list

tpl1=(1,'raj','jay',5,4)
tpl2=(2,3,4)

tpl1+tpl2
tpl1*2

(1, 'raj', 'jay', 5, 4, 1, 'raj', 'jay', 5, 4)

# Dictionary

In [55]:
a={1:"vatsal",2:"jay",3:"Raj"}

#update
a[1]="Vinayak"
print(a)

#indexing
print(a[1])

a={"one":"vatsal","two":"jay","three":"Raj"}
print(a['one'])

{1: 'Vinayak', 2: 'jay', 3: 'Raj'}
Vinayak
vatsal

NameError: name 'key' is not defined